@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


html,body{
    overflow-x: hidden;
}

a, a:hover{
    text-decoration: none !important;
}

ul, ol{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}


.navbar-toggler-icon {
    display: block;
    width: 40px;
    height: 3px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: #fec600;
    margin: 7px 0;
}

:root{
    --open: 'Open Sans', sans-serif;
    --rale: 'Raleway', sans-serif;
    --sac: 'Sacramento', cursive;

    /*color*/
    --purple: #744FA0;
    --yellow: #fec600;
    --offwhite: #F1F1F1;
    --offblack: #222;
    --ash: #E5E5E5;
}

.title h3 {
    font-family: var(--rale);
    font-size: 35px;
    font-weight: 500;
    color: #111111;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title p{
    font-family: var(-open);
    font-size: 14px;
    color: #444444;
    width: 560px;
    margin: 20px auto;
}

/*navbar*/

nav{
    background: transparent;
    position: absolute !important;
    top: 15px;
    left: 0;
    z-index: 9999;
    width: 100%;
    border-bottom: 1px solid rgba(254,198,0, 0.3);
    padding-bottom: 20px;
}

nav ul li a{
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 15px !important;
    transition: .5s;
    position: relative;
}

nav ul li a:hover{
    color: var(--yellow);
}

nav ul li a:after{
    content: "";
    width: 70%;
    height: 3px;
    background: var(--yellow);
    position: absolute;
    bottom: -13px;
    left: 15%;
    transition: .5s;
    opacity: 0;
}


nav ul li a:hover:after{
    bottom: -13px;
    opacity: 1;
}


#search-part{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0,.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

#search-part .close{
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#search-part .close:hover{
  color: red;
}

#search-part  .search-box{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-part  .search-box input{
  width: 80%;
  background: #fff;
  border: 0;
  border-radius: 30px;
  padding: 20px;
}

/*banner*/

#banner .banner_slider{
    background: url(assets/img/banner.png) no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

#banner .banner_slider .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    padding-top: 180px;
    padding-bottom: 153px;
}

#banner .banner_slider .overlay h2{
    font-size: 36px;
    font-weight: 400;
}

#banner .banner_slider .overlay h1{
    font-size: 55px;
    font-weight: 700;
    color: var(--yellow);
    text-transform: uppercase;
}

#banner .banner_slider .overlay p{
    font-size: 14px;
    font-family: var(--open);
    color: var(--offwhite);
    line-height: 24px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
}

#banner .banner_slider .overlay a{
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid white;
    font-weight: 500;
    text-transform: uppercase;
    margin: 30px 8px;
    display: inline-block;
    transition: .5s;
}



#banner .banner_slider .overlay a:hover{
    color: var(--offblack);
    background: var(--yellow);
    border: 1px solid var(--yellow);
}

#banner .banner_slider .overlay .br{
    color: var(--offblack);
    background: var(--yellow);
    border: 1px solid var(--yellow);
}
#banner .banner_slider .overlay .br:hover{
    color: white;
    background: transparent;
    border: 1px solid white;
}

#banner .prev{
    font-size: 40px;
    opacity: 1;
}

#banner .prev:hover{
    color: var(--yellow);
}

#banner .next{
    font-size: 40px;
    opacity: 1;
}

#banner .next:hover{
    color: var(--yellow);
}


#banner button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
}
/* end of banner*/


/*about*/

#about{
    padding-top: 60px;
    padding-bottom: 10px;
}

#about .round{
    width: 355px;
    height: 355px;
    border: 1px solid var(--offblack);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}


#about .round .img{
    width: 315px;
    height: 315px;
    border-radius: 50%;
    position: relative;
}

#about .round .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#about .round .img .about_overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;;
    left: 0;
}

#about .item{
    background: var(--ash);
    padding: 30px;
    transition: .5s;
}

#about .item:hover{
    filter: drop-shadow(1px 1px 4px #999);
}


#about .item:hover i{
    color: var(--yellow);
}


#about .item .shap{
    width: 25px;
    height: 25px;
    background: var(--ash);
    position: absolute;
}

        /*shap*/
#about .item1 .shap{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
}
#about .item2 .shap{
    right: -12px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
#about .item3 .shap{
    left: -12px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
#about .item4 .shap{
    top: 0;
    left: 43%;
    transform: translate(50%, -50%) rotate(45deg);
}
        /*shap*/

        /*item*/

#about .item1{
    text-align: center;
    position: relative;
}  

#about .item2 {
    text-align: right;
    position: relative;
    margin-right: 14px;
}
#about .item3 {
    text-align: left;
    position: relative;
    margin-left: 14px;
}        
#about .item4{
    text-align: center;
    position: relative;
}

        /*item*/

        /*icon*/

#about .item1 i{
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}
#about .item2 i{
    position: absolute;
    right: -47px;
    top: 50%;
    transform: translateY(-50%);
}
#about .item3 i{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
#about .item4 i{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

        /*icon*/

#about .about_middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .item h4{
    font-size: 18px;
    font-family: var(--rale);
    font-weight: 500;
    color: #111;
    margin-bottom: 15px;
}

#about .item p{
    font-size: 14px;
    font-family: var(--rale);
    font-weight: 400;
    color: #444;
}

#about .item i{
    color: #353535;
    font-size: 20px;
    transition: .5s;
}



/* end of about*/


/*portfolio*/

#portfolio{
    background: url(assets/img/portfolio-img.png) no-repeat center;
    background-size: cover;
    margin-top: 100px;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}


.port_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 70px 0 120px 0;
}

.port_item:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
}


#portfolio .title h3{
    color: white;
}


#portfolio .title p{
    color: white;
}

#portfolio .port_item .img{
    position: relative;
    margin-top: 20px;
}

#portfolio .port_item .img img{
    display: block;
}

#portfolio .port_item .img:hover .img_overlay{
    height: 100%;
}

#portfolio .port_item .img:hover .img_overlay i{
    display: block;
}

#portfolio .img_overlay{
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top:0;
    bottom: 0;
    transition: .5s;
}

#portfolio .img_overlay i{
    color: #000;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50% -50%);
    display: none;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}


/* end of portfolio */

/*services*/

#services{
    position: relative;
}


#services .line{
    background: url(assets/img/line.png);
    width: 1px;
    height: 820px;
    position: absolute;
    top: 247px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


#services .item{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

#services .item:nth-child(odd){
    flex-direction: row-reverse;
}

#services .item:nth-child(odd) .title{
    flex-direction: row-reverse;
    justify-content: flex-start;
}


#services .item:nth-child(odd) .details p{
    text-align: left;
}

#services .item:nth-child(odd) .details .shap{
    left: -12px;
}

#services .item .details{
    width: 40%;
    position: relative;
}

#services .slick-center .details{
    filter: drop-shadow(1px 1px 4px #999);

}

#services .item .details p{
   background: #eeeeee;
   padding: 40px;
   text-align: right;
    font-family: var(--open);
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#services .details .shap{
    width: 25px;
    height: 25px;
    background: #eee;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%) rotate(45deg);
}

#services .item .img{
    width: 10%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .item .img .round{
    width: 70px;
    height: 70px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}


#services .slick-center .img .round{
    transform: scale(1.3);
    background: var(--yellow);
}



#services .item .img .round img{
}

#services .item .title{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#services .item .title h3{
    margin: 0;
    color: #111111;
    font-weight: 500;
    font-family: var(--rale);
    font-size: 24px;
}

#services .service-slider{
    position: relative;
    margin-top: 70px;
    margin-bottom: 50px;
}

#services .service-slider i{
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    font-size: 25px;
    transition: .5s;   
    position: absolute;
    left: 48.3%;
    transform: translateY(-50%);
    cursor: pointer;
}

#services .service-slider i:hover{
    background: var(--yellow);
    border: 0;
}

#services .service-slider i.up{
    top: -20px;
}

#services .service-slider i.down{
    bottom: -40px;
}



/* end of services*/

/* testimonial*/

#testimonial{
    background: url(assets/img/testimonial-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.testi_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 140px 0;
}

.testi_img{
    margin: 50px 0;
}
.testi_round{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slick-center .testi_round{
    transform: scale(1.2);
    background: var(--yellow);
}

.slick-center .testi_round .testi_img_overlay{
    opacity: 0;
}
.testi_round img{
    margin-top: 10px;
}

.testi_img_overlay{
    background: rgba(255,255,255, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.testi_left{
    position: relative;
    display: block;
}

.testi_line{
    background: url(assets/img/line.png);
    width: 1px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}


.testi_details_text{
    background: #f1f1f1;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}

.testi_details{
    position: relative;
    margin-left: 70px;
    margin-top: 120px;
    width: 700px;
}


.testi_shape{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%) rotate(45deg);
    background: #f1f1f1;
}

.testi_details_text span{
    margin: 10px 0;
    display: block;
}

.testi_details_text p{
    color: #444;
    font-family: var(--open);
    font-size: 14px;
    line-height: 24px;
}

.testi_details_text h4{
    font-family: var(--sac);
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
    margin-top: 30px;
}

.testi_left .testi-img-slider{
    position: relative;
}

.testi_left .testi-img-slider i{
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: 1px solid white;
    font-size: 25px;
    transition: .5s;   
    position: absolute;
    left: 38.3%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

.testi_left .testi-img-slider i:hover{
    background: var(--yellow);
    border: 0;
}

.testi_left .testi-img-slider i.testi_up{
    top: -27px;
}

.testi_left .testi-img-slider i.testi_down{
    bottom: -74px;
}

/*.testi_details_in{
    background: #f1f1f1;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    margin-top: 200px;
}*/

/* end of testimonial*/



/*priing*/


.price_category{
    text-align: center;
}

.price_category{
    position: relative;
    background: #f1f1f1;
    margin: 30px 0 50px 0;
    transition: .5s;
}


.price_category h2{
    background: #444;
    color: white;
    font-family: var(--rale);
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0 80px 0;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    transition: .5s;
}



.price_round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    border: 1px solid #000;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.price_round .round_inner{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #444;
    margin: 4px auto;
    top: 20px;
    color: white;
    padding-top: 10px;
    transition: .5s;
}

.price_round .round_inner span{
    font-family: var(--rale);
    font-size: 28px;
}

.price_category ul{
    margin: 65px 0 0 0;
    padding: 0;
    background: #f1f1f1;
}

.price_category ul li{
    color: #444;
    font-family: var(--open);
    font-size: 14px;
    margin-bottom: 15px;
}

.price_btn{
    background: #444;
    height: 70px;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    transition: .5s;
}

.price_btn a{
    padding: 5px;
    color: white;
    font-family: var(--rale);
    font-size: 16px;
    font-weight: 500;
    line-height: 85px;
}

.price_category:hover{
    -webkit-box-shadow: 0px 0px 8px -2px #000000; 
    box-shadow: 0px 0px 8px -2px #000000;
    color: #444;
}

.price_category:hover .round_inner{
    background: var(--yellow);
}

.price_category:hover h2{
    background: var(--yellow);
}

.price_category:hover .price_btn{
    background: var(--yellow);
}


/*end of pricing*/


/*count*/

#count{
    background: url(assets/img/counter.png) no-repeat top;
    background-size: cover;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.count_overlay{
    width: 100%;
    height: 100%;
    padding: 80px 0;
    background: rgba(0, 0, 0, .7);
}


.count_overlay .item{
    width: 200px;
    padding: 20px 0;
    text-align: center;
    color: white;
    border: 1px solid #ddd;
    line-height: 40px;
}

.count_angle {
    transform: rotate(-2deg);
}



/* end of count*/

/* team*/


.team_item{
    border: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 40px 0;
}


.team_member .img{
    background: #f1f1f1;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 300px;
    padding-top: 20px;
}

.team_member .img .team_img_overlay{
    width: 100%;
    height: 0%;
    background: rgba(255,198,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.team_member .img .team_img_overlay i {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: white;
    opacity: 0;
    border-radius: 50%;
    cursor: pointer;
}

.team_member .img .team_img_overlay a{
    color: #000;
}
.team_item:hover .team_img_overlay i{
    opacity: 1;
}


.team_item:hover .team_img_overlay{
    height: 100%;
}

.team_info{
    text-align: center;
    margin-bottom: 20px;
}

.team_info h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #111111;
    margin-top: 10px;
}

.team_info p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #444444;
    padding: 10px 0;
}

.team_social {
    text-align: center;
    padding: 10px 0;
    margin-top: -60px;
    transition: .5s;
    opacity: 0;
}

.team_social i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: white;
    border-radius: 50%;
    color: #000;
    border: 1px solid #222;
    margin: 0 5px;
    cursor: pointer;
}

.team_social i:hover{
    background: var(--yellow);
    border-color: white;
}

.team_item:hover .team_social{
    margin-top: 10px;
    opacity: 1;
}


/*end of team*/

/*sponsored*/

#sponser{
    background: #f1f1f1;
    padding: 80px 0;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

#sponser .items{
    display: flex;
    justify-content: space-between;
}
#sponser .item{
    border: 1px solid #cccccc;
    text-align: center;
    width: 200px;
    padding: 40px 20px;
    margin: 0 10px;
    box-sizing: border-box;
}

#sponser .slick-center{
    border-color: var(--yellow);
}

#sponser .item img{
    width: 100%;
}

/*sponsored*/

/*footer*/

footer{
    text-align: center;
    background: #222;
    color: white;
    padding: 60px 0;
    margin-top: -80px;
    overflow: hidden;
}


.logo{
    background: #222;
    padding: 30px 0;
    border-bottom: 1px solid #666;
    width: 100%;
    transform: rotate(-2deg);
}

.logo img{
    transform: rotate(2deg);
}




.bor{
    position: relative;
    margin: 40px 0;
}


.footer_info:after{
    content: "";
    width: 1px;
    background: #ddd;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.bor:last-child .footer_info:after{
    width: 0;
}


.footer_text a{
    color: white;
}


.footer_icon i{
    color: #353535;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background: var(--yellow);
    margin-bottom: 30px;
}

.footer p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 500;
    padding: 0 8px;
    margin-bottom: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
}

.footer_social a{
    color: #353535;
}

.footer_social i{
    color: #353535;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: white;
    margin-bottom: 30px;
    margin: 5px 10px;
    font-size: 18px;
    transition: .5s;
}

.footer_social i:hover{
    background: var(--yellow);
}

.footer_social p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer_text p:hover{
    color: var(--yellow);
}

/* end of footer*/

.btt {
    padding: 15px;
    background: var(--yellow);
    color: #000;
    border: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    opacity: .7;
    border-radius: 3px;
}


#footer_bottom{
    background: #353535;
    padding: 20px 0;
    color: white;
}

#footer_bottom p a{
    color: var(--yellow);
}
